@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $menu-trigger-size;
    height: $menu-trigger-size;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;

    transition: background-color $speed-default ease;

    &:hover {
        background-color: $hover-bg-color;
    }

    &:focus {
        box-shadow: $focus-shadow;
    }

    // ICON INSIDE

    svg {
        width: $icon-size-base;
        height: $icon-size-base;
        pointer-events: none;
    }
}