@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.Menu {
    display: block;
    width: $menu-width;
    margin: 0;
    padding: 0;
    background-color: $white;
    border-radius: $border-radius-default;
    box-shadow: $menu-shadow;

    .Item {
        padding: $size-small;
    }
}