// COLORS

$white: #ffffff;
$black: #000000;

$text-color: #464646;

// TYPOGRAPHY

$default-font: 'Roboto', sans-serif;

// SIZES

$size-base: 4px;
$size-small: $size-base * 2;
$size-related: $size-base * 3;
$size-large: $size-base * 6;

// OTHERS

$border-radius-default: $size-base;

// COMPONENTS

// Menu
$menu-width: 250px;
$menu-shadow:
    0 2px 8px -4px rgba($black, .1),
    0 4px 8px 0 rgba($black, .1),
    0 0 12px 0 rgba($black, .05)
;
